
.screen {
  background-color: black;
  width: 500px;
  height: 500px;
  display: flex;
  border: 10px solid whitesmoke;
  align-items: center;
  justify-content: center;
  flex-direction: column;


}

canvas {
    border: 10px solid  whitesmoke;
    background-color: rgb(8, 8, 8);
}

body {
  margin: 0;
  background: linear-gradient(90deg, rgb(58, 50, 207) 0%, rgba(141,209,47,1) 34%, rgba(0,212,255,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  height: 100%; 
  
}

button {
    font: inherit;
    background-color: rgb(32, 221, 73);
    color: black;
    border: 100;
    border-color: white;
    padding: 1em;
    margin-bottom: 14em;
    margin-top: 1em;
    border-radius: 5px;
    width: 200px;
}

h1 {
  font-size: 6em;  
}

h2 {
  color: white;
}

span {
  font-weight: bold;
}
 
    

