

canvas {
    border: 10px solid black;
    background-color: rgb(129, 123, 129);
}

body {
  margin: 0;
  background-color: rgb(243, 170, 11);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  height: 100%; 
}

button {
    font: inherit;
    background-color: black;
    color: white;
    border: 0;
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}

h1 {
  font-size: 6em;  
}

 
    

